<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inovaufrpe.i_market">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GUI.ListaProdutosActivity"></activity>
        <activity android:name=".GUI.MainActivity" />
        <activity android:name=".GUI.CadClienteActivity"/>
        <activity android:name=".GUI.CarrinhoActivity"></activity>
        <activity android:name=".GUI.GerenciarProdutosActivity"></activity>
        <activity android:name=".GUI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>